
#########################################
# Backend
#########################################

VITE_BASE_URL=http://localhost:3141/api

#########################################
# Firebase
#########################################

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

#########################################
# Optional
#########################################

VITE_IS_RECAPTCHA_ENABLED=false
VITE_RECAPTCHA_SITE_KEY=
VITE_E2E_TESTING=false
```
