```env
#########################################
# Application
#########################################

NODE_ENV=development

APP_MODULE=all
APP_PORT=3141
APP_URL=http://localhost:3141
APP_ORIGINS=http://localhost:5173
APP_ROUTE_PREFIX=/api
FRONTEND_URL=http://localhost:5173

#########################################
# Database
#########################################

DB_URL=mongodb://localhost:27017
DB_NAME=vibe

#########################################
# Firebase Admin
#########################################

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

#########################################
# Optional
#########################################

FIREBASE_STORAGE_BUCKET=
FIREBASE_API_KEY=

ENABLE_DB_BACKUP=false
ENABLE_HP_JOB=false
ENABLE_FOLLOWUP_INVITE_JOB=false
ENABLE_FULFILLMENT_JOB=false

SENTRY_DSN=
INTEGRATION_API_KEY=
```
